[Unit]
Description=Periodic Segno OTA update check

[Timer]
OnBootSec=3min
OnUnitActiveSec=30min
RandomizedDelaySec=2min
Persistent=true

[Install]
WantedBy=timers.target
